* {
    margin     : 0px;
    padding    : 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Color Emoji', sans-serif;
    
}

.app{
    // background-color: red;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}